In [1]:
# import pandas module
# import os module
import pandas as pd
import os

In [5]:
# Define a file path (using os module) pointing to the pickled file from Exercise 1
# Create a Pandas DataFrame from the pickled file. Use the file path as an argument.
file_path = os.getcwd()+'/locations_data_frame.pickle'
df = pd.read_pickle(file_path)

In [6]:
# Display the DataFrame
df.head()

,mindate,maxdate,name,datacoverage,id,source
0,1948-05-01,2021-07-11,"Highgate Center, VT 05459",1.00,ZIP:05459,locations_10.json
1,1995-05-08,2021-07-11,"Hinesburg, VT 05461",1.00,ZIP:05461,locations_10.json
2,1955-11-01,2021-07-12,"Huntington, VT 05462",1.00,ZIP:05462,locations_10.json
3,1997-03-06,2021-07-11,"Isle la Motte, VT 05463",0.95,ZIP:05463,locations_10.json
4,1995-05-08,2021-07-12,"Jeffersonville, VT 05464",1.00,ZIP:05464,locations_10.json